@font-face {
    font-family: 'Formata';
    src: url('Formata-Bold.woff2') format('woff2'),
        url('Formata-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

